@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;

}

body {
    margin: 0;
    overflow-x: hidden;

}

/* nav bar */

.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    height: 100%;
    padding: 0;
}

li {
    display: flex;
    height: 100%;
    align-items: center;

}

.navflex .njbtn {
    align-items: center;
    display: flex;
    height: 32px;
    background-color: black;
    color: white;
    margin: 0 20px 0 15px;
    padding: 0 0 0 0;
    width: 92px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    transition: background-color .2s ease;
}

.njbtn:hover {
    background-color: rgba(0, 0, 0, 0.707);
}

.navflex .sibtn {
    height: 32px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid black;
    margin: 0 0 0 15px;
    padding: 0px 1px 0 0;
    width: 80px;
    border-radius: 50px;
    letter-spacing: normal;
    transition: background-color .2s ease

}
.sibtn:hover{
    background-color: rgba(214, 214, 214, 0.496);
}

.navflex .fasbtn {
    height: 30px;
    margin: 0 20px 0 15px;
    padding: 0 15px 0 10px;
    width: 130px;
    border: none;
    font-size: 12.5px;
    font-weight: bold;
    letter-spacing: normal;
    justify-content: center;
}

.navflex .fasbtn:hover {
    color: #00754a
}

.fa-map-marker-alt {
    font-size: 20px;
    padding-right: 10px;
}

button {
    display: flex;
    text-decoration: none;
    border: none;
    height: 100%;
    padding-left: 0;
    padding-right: 0;

}

.firstlist {
    display: flex;
    align-items: center;
}

.navflex button {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-left: 24px;
    padding-right: 0;
    width: auto;
    height: 100%;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.rewards {
    box-shadow: inset 0 -6px #00754a;
}

button.gift {

    width: 150px;
    padding-right: 10px;
    padding-left: 0px;
    margin-left: 0;

}

.menu:hover,
.rewards:hover,
.gift:hover,
.fasbtn:hover {
    color: #00754a
}


.rightbtns {
    padding-right: 10px;
}


nav {
    height: 100px;
    background-color: #FFFFFF;
    margin: 0;

}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;

}

.navflex {
    display: flex;
    justify-content: space-between;
    min-width: 92%;
    align-items: center;
    height: 100%;

}

.undernav {
    background-color: #1E3932;
    height: 48px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.72);
    box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.279);
    position: relative;
    z-index: 1;

}

.undernav>div {
    padding-left: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;

}

.undernav sup {
    font-size: 6px;
}

/* hero image and text */


.logo {
    height: 50px;
    padding-left: 40px;
    padding-right: 20px;
}

.logo>img {
    height: 100%;
}

.hero-image {
    background-image: url(images/xl-hero-desktop_2021.png);
    height: 50%;
    width: 1519px;
    height: 810px;
    background-position: -475px 0px;
    background-repeat: no-repeat;
    background-size: 162%;
    position: relative;
    background-color: #D4E9E2;

}

.hero-text {
    margin: 0;
    position: absolute;
    top: 320px;
    height: 270px;
    width: 400px;
    left: 45px;
}

.hero-text h1 {
    position: relative;
    bottom: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    height: 92px;
    width: 431px;
    transform: scale(1, 1.1);
    margin: 0;
    padding-bottom: 0;
    letter-spacing: .1em;
}

.hero-text p {
    margin: 0;
    position: relative;
    bottom: 20px;
    font-size: 17.5px;
    letter-spacing: 1.5px;
}

.hero-text button {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 101px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #158058;
    transition: background-color .2s ease
}
.hero-text button:hover {
    background-color: #1b9367;
}
.hero-text p:nth-child(4) {
    margin-top: 35px;
}

.hero-text a {
    text-decoration: underline;
    color: black;
}


/* getting started is easy */

.gettingstarted {
    width: 1440px;
    height: 320px;
    margin: 150px auto auto auto;
    text-align: center;
}

.gtis {
    margin-bottom: 50px;
}

.gtis h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}

.gtis p {
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 16px;
}

.row {
    width: 396px;
    margin: 0 24px;
}

.row h2 {
    font-size: 18px;
    font-weight: 500;
}

.row p {
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-size: 15.5px;
    font-weight: 400;
}

.row a {
    color: #158058;
}

.flex.threerow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circle {
    height: 48px;
    width: 48px;
    border: 2px solid #158058;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #158058;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 30px;
}

/* get your favourites free */

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    -webkit-box-shadow: 1px 7px 3px 0px rgba(0, 0, 0, 0.027);
    box-shadow: 1px 7px 3px 0px rgba(0, 0, 0, 0.027);
    position: relative;
}

.container h1 {
    text-align: center;
    padding: 48px 0;
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    position: relative;
}

section.container {
    background-color: #F1F8F6;
    margin-top: 150px;
}

ul.flex {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}
.numlist {
    position: relative
}
.num {
    width: 108px;
    height: 60px;
    margin: 0;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 6px;
}
.stack {
    position: relative;     
}
.drinkcontainer {
    position: absolute;
    width: 100%;
    height: 275px;
    display: flex;
    background-color: #D4E9E2;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 0px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.visible {
    opacity: 1;
}
.invisible {
    opacity: 0;
}

.drink {
    height: 100%;
    width: 375px;
    height: 295px;
}

.coffee {
    position: relative;
    right: 20px;
    
    width: 100%;
    padding-right: 60px;
    padding-top: 20px;

}
div.customize {
    width: 343px;
}
.customize h1 {
    text-align: left;
    padding-left: 35px;
    font-size: 26px;
    font-weight: 500;
    padding-top: 55px;
    padding-bottom: 10px;
}


.customize p {
    width: 343px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.55;
}

.color-gold {
    color: rgb(204, 176, 13);
    font-size: 17px;
    padding-top: 10px;

}

.movingbar{
    height: 5px;
    background-color: #00754a;
    width: 108px;
    
    position: absolute;
    left: 450px;
    top:60px;
    transition: all .3s ease;
}

/* endless extras */


.circle2 img {
    height: 112px;
    width: 112px;
    margin-bottom: 24px;
}

.endlessextras {
    width: 1440px;
    height: 320px;
    margin: 380px auto auto auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ee p {
    width: 720px;
    margin: 0 auto;
    padding-top: 16px;
}

.ee h1 {
    font-size: 28px;
    font-weight: 500;
}

.row {
    width: 396px;
    margin: 0 24px;
}

.circle2 h2 {
    font-size: 18px;
    font-weight: 500;
}

.circle2 p {
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-size: 15.5px;
    font-weight: 400;
}

.endlessextras .row a {
    color: #158058;
    font-weight: 600;
}

.endlessextras .flex.threerow {
    padding-top: 48px;
}

/* cash or card */

.cashorcard {
    width: 100%;
    height: 940px;
    margin: 220px auto auto auto;
    text-align: center;
    background-color: #F2F0EB;
}

.cashorcard h1 {
    font-weight: 500;
}

.cashorcard h2 {
    font-weight: 400;
    font-size: 20px;
}

.cashorcard p {
    font-size: 13.5px;
    letter-spacing: .1em;
}

.cc h1 {
    padding-top: 48px;
    font-size: 28px;

}

.cc {

    text-align: center;
}

.cc p {
    padding-bottom: 88px;
    width: 720px;
    margin: 0 auto;
}

.grid {
    width: 1440px;
    height: 164.4px;
    display: inline-flex;
    margin: 0 auto;
    text-align: left;
    align-items: flex-start;
}

.grid1 {
    width: 240px;
}

div.grid2 {
    width: 432px;
    display: inline-flex;
    align-items: flex-start;
    padding: 0 24px;
    margin: 0 0 0 0;
    align-self: flex-start;
    align-content: flex-start;

}

.grid1 h1 {
    margin: 0;
}

.grid1 p {
    margin-top: 5px;
}

.gridimg {
    width: 112px;
    height: 158px;
    padding: 0 16px 0 0;
    margin: 0;
}

.gridimg img {
    height: 100%;
    width: 100%;
}

.tb1 {
    width: 303px;
    margin: 0;
}

.tb1 h2 {
    margin: 0;
}

.tb1 p {
    padding: 16px 0 0;
    margin: 0;
}

hr {
    margin: 24px auto 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.149);
    width: 1440px;

}

/* star code form */

.starcodecolumn {
    margin: 0 auto;
    width: 1440px;
}

.starcode {
    margin-left: 240px;
    width: 720px;
}

.starcode h1 {
    font-size: 28px;
    font-weight: 400;
    padding-top: 85px;
}

.m0 {
    font-size: 15px !important;
    margin: 0px;
    margin-bottom: 0px;
}

.starcode p {
    font-size: 13.5px;
    margin-bottom: 36px;
}

.starcode a {
    color: #158058;
    ;
}

input {
    width: 720px;
    height: 48px;
    border-radius: 7px;
    border: 1px solid black;

    text-indent: 12px;
}

input[type="text"] {
    font-size: 18px;
    font-weight: 500;

}

.starcodesubmit button {
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    background-color: white;
    border: 1px solid black;

}

.btntxt {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

.p1 {
    width: 1440px;
    margin: 16px auto !important;
    padding-bottom: 32px;
}

/* conditions */

.conditions {
    background-color: #F9F9F9;
    padding: 48px;
    margin-top: 150px;
}

.conditions p {
    font-size: 13.5px;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 16px;


}

.conditions h2 {
    font-size: 13.5px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    padding-bottom: 16px;
    margin: 0;
}

.conditionsgrid {
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px
}

.topleft p {
    width: 720px;
}

.hr2 {
    width: 100%;
    margin-top: 48px;
}

/* bottom links */

.btmlinks {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.btmlinks h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 0;
}

.btmlinks p {
    padding: 8px 0;
    margin: 0 0 8px;

    letter-spacing: 0.1px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.741);
}
.btmlinks p:hover{
    color: black;
}
.list {
    width: 190px;
}

.btmlinks div:nth-child(n+2) {
    margin-left: 32px;
}

/* social media icons */

.iconcontainer {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
}

.iconbox {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.iconcontainer div:first-child {
    margin-left: 0;
}

.fab.fa-spotify,
.fab.fa-facebook,
.fab.fa-pinterest,
.fab.fa-instagram-square,
.fab.fa-youtube-square,
.fab.fa-twitter-square {
    height: 100%;
    width: 100%;
    font-size: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconbox img {
    height: 110%;
    width: 110%;
    background-color: #fff;
}

/* policy links */

.policylinks {
    display: flex;
    justify-content: flex-start;
    width: 1440px;
    margin: 0 auto;
    height: 24px;
    padding-top: 25px;
}

.policylinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 24px;
    padding: 0 16px;
    font-size: 16px;
}
.policylinks a:hover{
    text-decoration: underline;
}
.policylinks a:first-child {
    padding-left: 0;
}

.policylinks p {
    height: 2px;
    margin: 0;
}

/* footer */

footer>p {
    width: 1440px;
    margin: 0 auto;
    font-size: 13.5px;
    color: grey;
    padding: 16px 0 48px 0;
}